<div id="<%= dom_id spp_student %>">
  <p>
    <strong>SPP batch:</strong>
    <%= spp_student.spp_batch_id %>
  </p>

  <p>
    <strong>Nis:</strong>
    <%= spp_student.nis %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= spp_student.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= spp_student.gender %>
  </p>

  <p>
    <strong>Birth at:</strong>
    <%= spp_student.birth_at %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= spp_student.address %>
  </p>

  <p>
    <strong>Pict:</strong>
    <%= spp_student.pict %>
  </p>

  <p>
    <strong>Father:</strong>
    <%= spp_student.father %>
  </p>

  <p>
    <strong>Mother:</strong>
    <%= spp_student.mother %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= spp_student.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= spp_student.email %>
  </p>

</div>
