<div id="spp_students" class="album py-5 bg-light">
  <div class="container">
    <h1>Siswa</h1>
    <%= link_to "Tambah siswa", new_spp_student_path, class: "btn btn-success" %>

    <div class="row">
      <div class="col">

        <form action="<%= spp_students_path %>" method="get">
          <div class="form-group string optional admin_slug">
            <label class="form-control-label string optional control-label" for="admin_slug">Search</label>
            <input class="form-control string optional form-control" type="text" name="search" id="admin_slug" value="<%= params[:search] %>" placeholder="Search name">
          </div>
          <div class="form-actions">
            <input type="submit" class="btn btn-sm btn-success" data-disable-with="Submit">
          </div>
        </form>

      </div>

      <div class="col">
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Batch</th>
          <th>Gender</th>
          <th>Birth Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @spp_students.each do |spp_student| %>
          <tr>
            <td><%= spp_student.name %></td>
            <td><%= spp_student.spp_batch.start_at.strftime('%Y') %></td>
            <td><%= spp_student.gender %></td>
            <td><%= spp_student.birth_at.strftime('%d-%m-%Y') %></td>
            <td>
              <%= link_to "Show", spp_student, class: "btn btn-primary" %>
              <%= link_to "Edit", edit_spp_student_path(spp_student), class: "btn btn-secondary" %>
              <%= link_to "Delete", spp_student, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="apple_pagination mt-3">
      <%= will_paginate @spp_students %>
    </div>
  </div>
</div>