<div id="<%= dom_id spp_payment %>">
  <p>
    <strong>SPP batch:</strong>
    <%= spp_payment.spp_batch_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= spp_payment.user_id %>
  </p>

  <p>
    <strong>SPP student:</strong>
    <%= spp_payment.spp_student_id %>
  </p>

  <p>
    <strong>SPP invoice:</strong>
    <%= spp_payment.spp_invoice_id %>
  </p>

  <p>
    <strong>Tipe:</strong>
    <%= spp_payment.tipe %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= spp_payment.amount %>
  </p>

  <p>
    <strong>Pay at:</strong>
    <%= spp_payment.pay_at %>
  </p>

</div>
