<div id="spp_students" class="album py-5 bg-light">
  <div class="container">

    <h1>SPP payments</h1>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>SPP batch</th>
          <th>User</th>
          <th>SPP student</th>
          <th>SPP invoice</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Pay at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @spp_payments.each do |spp_payment| %>
          <tr>
            <td><%= spp_payment.id %></td>
            <td><%= spp_payment.spp_batch_id %></td>
            <td><%= spp_payment.user_id %></td>
            <td><%= spp_payment.spp_student_id %></td>
            <td><%= spp_payment.spp_invoice_id %></td>
            <td><%= spp_payment.tipe %></td>
            <td><%= spp_payment.amount %></td>
            <td><%= spp_payment.pay_at %></td>
            <td>
              <%= link_to "Show", spp_payment, class: "btn btn-primary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


    <div class="apple_pagination mt-3">
      <%= will_paginate @spp_payments %>
    </div>
      <%= link_to "New spp payment", new_spp_payment_path, class: "btn btn-success" %>
  </div>
</div>
