  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <%= link_to spp_batches_path, class: "stretched-link" do %>
                <span style="color: #789461;">
                  <i class="fas fa-calendar fa-3x mb-3"></i>
                </span>
                <br/>
                Batch
              <% end %>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <%= link_to spp_students_path, class: "stretched-link" do %>
                <span style="color: #789461;">
                  <i class="fas fa-user fa-3x mb-3"></i>
                </span>
                <br/>
                Student
              <% end %>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <%= link_to spp_categories_path, class: "stretched-link" do %>
                <span style="color: #789461;">
                  <i class="fas fa-school fa-3x mb-3"></i>
                </span>
                <br/>
                Category
              <% end %>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <%= link_to spp_invoices_path, class: "stretched-link" do %>
                <span style="color: #789461;">
                  <i class="fas fa-dollar fa-3x mb-3"></i>
                </span>
                <br/>
                Invoice
              <% end %>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <%= link_to spp_payments_path, class: "stretched-link" do %>
                <span style="color: #789461;">
                  <i class="fas fa-money-bill-wave fa-3x mb-3"></i>
                </span>
                <br/>
                Payment
              <% end %>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>