<article class="blog-post">
  <div id="<%= dom_id post %>">
    <h2 class="display-5 link-body-emphasis mb-1"><%= post.title %></h2>

    <p>
      <%= post.content %>
    </p>

    <p>
      <%= image_tag(post.pict.url, class: 'img-fluid') if post.pict? %>
    </p>

    <p>
      <%= post.user.name if post.user %>
    </p>

    <p>
      <%= post.created_at %>
    </p>

  </div>
</article>