<%= form_with(model: spp_invoice) do |form| %>
  <% if spp_invoice.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(spp_invoice.errors.count, "error") %> prohibited this spp_invoice from being saved:</h2>

      <ul>
        <% spp_invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :spp_student_id, style: "display: block" %>
    <%= form.text_field :spp_student_id %>
  </div>

  <div>
    <%= form.label :spp_category_id, style: "display: block" %>
    <%= form.text_field :spp_category_id %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.label :paid_amount, style: "display: block" %>
    <%= form.number_field :paid_amount %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
