<%= form_with(model: spp_payment) do |form| %>
  <% if spp_payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(spp_payment.errors.count, "error") %> prohibited this spp_payment from being saved:</h2>

      <ul>
        <% spp_payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" name="spp_payment[spp_invoice_id]" value="<%= @spp_invoice.id %>">
  <input type="hidden" name="spp_payment[spp_student_id]" value="<%= @spp_invoice.spp_student_id %>">
  <input type="hidden" name="spp_payment[spp_batch_id]" value="<%= @spp_invoice.spp_student.spp_batch_id %>">
  <input type="hidden" name="spp_payment[user_id]" value="<%= current_user.id %>">
  <input type="hidden" name="spp_payment[tipe]" value="CASH">
  <input type="hidden" name="spp_payment[pay_at]" value="<%= Date.today %>">

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
