<div id="spp_students">
  <div class="container">

    <h1>Payments</h1>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Staff</th>
          <th>Tipe</th>
          <th>Jumlah</th>
          <th>Tanggal</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @spp_invoice.spp_payments.each do |spp_payment| %>
          <tr>
            <td><%= spp_payment.id %></td>
            <td>
              <% if spp_payment.user %>
                <%= spp_payment.user.name %>
              <% else %>
                <%= render "form_confirm", spp_payment: spp_payment %>
              <% end %>
            </td>
            <td><%= spp_payment.tipe %></td>
            <td><%= idr spp_payment.amount %></td>
            <td><%= spp_payment.pay_at&.strftime('%d-%m-%Y') %></td>
            <td>
              <%= link_to "Show", spp_payment, class: "btn btn-primary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= render "form_payment", spp_payment: SppPayment.new %>

  </div>
</div>
