<div id="<%= dom_id spp_invoice %>">
  <p>
    <strong>Spp student:</strong>
    <%= spp_invoice.spp_student_id %>
  </p>

  <p>
    <strong>Spp category:</strong>
    <%= spp_invoice.spp_category_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= spp_invoice.amount %>
  </p>

  <p>
    <strong>Paid amount:</strong>
    <%= spp_invoice.paid_amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= spp_invoice.status %>
  </p>

</div>
