<div id="<%= dom_id spp_invoice %>">
  <p>
    <strong>Student:</strong>
    <%= spp_invoice.student_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= spp_invoice.category_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= spp_invoice.amount %>
  </p>

  <p>
    <strong>Paid amount:</strong>
    <%= spp_invoice.paid_amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= spp_invoice.status %>
  </p>

</div>
