<div id="<%= dom_id spp_invoice %>">
  <h1>Invoice #<%= spp_invoice.id %></h1>
  <p>
    <strong>Category:</strong>
    <%= spp_invoice.spp_category.title %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= idr spp_invoice.amount %>
  </p>

  <p>
    <strong>Paid amount:</strong>
    <%= idr spp_invoice.paid_amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= spp_invoice.status %>
  </p>

</div>
