<div class="col" id="<%= dom_id campaign %>">
  <div class="card shadow-sm">
    <div class="position-relative">
      <img src="<%= campaign.picture %>" class="card-img-top" alt="<%= campaign.title %>">
      <div class="position-absolute top-0 start-0 p-2 text-white campaign_label">
        <%= time_ago_in_words campaign.close_at %> remaining
      </div>
    </div>
    <div class="card-body">
      <h3><%= campaign.title %></h3>

      <p class="card-text">
        Terkumpul
        <span class="text-success">
          <strong>
            <%= number_to_currency(campaign.total, unit: 'Rp', precision: 0, delimiter: '.', format: '%u%n') %>
          </strong>
        </span>
      </p>

      <p class="card-text">
        Target Donasi
        <span class="text-success">
          <strong>
            <%= number_to_currency(campaign.target, unit: 'Rp', precision: 0, delimiter: '.', format: '%u%n') %>
          </strong>
        </span>
      </p>

      <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: <%= (campaign.total.to_f / campaign.target * 100).to_i %>%"></div>
      </div>

      <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="btn-group">
          <% if current_user && current_user.admin? %>
            <%= link_to edit_campaign_path(campaign) do %>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>