<div class="col" id="<%= dom_id campaign %>">
  <div class="card shadow-sm">
    <img src="<%= campaign.picture %>" class="card-img-top" alt="<%= campaign.title %>">
    <div class="card-body">
      <h3><%= campaign.title %></h3>
      <p class="card-text">
        Terkumpul
        <span class="text-success">
          <strong>
            <%= number_to_currency(campaign.total, unit: 'Rp', precision: 0, delimiter: '.', format: '%u%n') %>
          </strong>
        </span>
      </p>
      <p class="card-text">Target: <%= campaign.target %></p>
      <p class="card-text">Ditutup: <%= campaign.close_at %></p>

      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to campaign_path(campaign) do %>
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <% end %>
          <% if current_user && current_user.admin? %>
            <%= link_to edit_campaign_path(campaign) do %>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            <% end %>
          <% end %>
        </div>
        <small class="text-body-secondary">9 mins</small>
      </div>
    </div>
  </div>
</div>