<div class="col-md-7 col-lg-8">
  <%= form_with(model: donation) do |form| %>
    <div class="row g-3">

      <% if donation.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

          <ul>
            <% donation.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h1>
        Donasi untuk <%= @campaign.title %>
      </h1>

      <input type="hidden" name="donation[campaign_id]" value="<%= @campaign.id %>" id="campaign_id">

      <div class="col-12">
        <%= form.label :amount, style: "display: block", class: "form-label" %>
        <%= form.number_field :amount, class: "form-control", id: "amount", required: true %>
        <div class="invalid-feedback">
          Please enter your amount.
        </div>
      </div>

      <div class="col-12">
        <%= form.label :name, style: "display: block", class: "form-label" %>
        <%= form.text_field :name, class: "form-control", id: "name", required: true %>
        <div class="invalid-feedback">
          Please enter your name.
        </div>
      </div>

      <div class="col-12">
        <%= form.label :email, style: "display: block", class: "form-label" %>
        <%= form.text_field :email, class: "form-control", id: "email", required: true %>
        <div class="invalid-feedback">
          Please enter your email.
        </div>
      </div>

      <div class="col-12">
        <%= form.label :telephone, style: "display: block", class: "form-label" %>
        <%= form.text_field :telephone, class: "form-control", id: "telephone", required: true %>
        <div class="invalid-feedback">
          Please enter your telephone.
        </div>
      </div>

      <div class="col-12">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="same-address" name="donation[anonymous]">
          <label class="form-check-label" for="same-address">
            Sembunyikan nama saya (donasi sebagai anonim)
          </label>
        </div>
      </div>

      <div class="col-12">
        <%= form.label :payment_type, style: "display: block", class: "form-label" %>
        <%= form.text_field :payment_type, class: "form-control", id: "payment_type", required: true %>
        <div class="invalid-feedback">
          Please enter your payment_type.
        </div>
      </div>

      <div class="col-12">
        <%= form.label :dua, style: "display: block", class: "form-label" %>
        <%= form.text_field :dua, class: "form-control", id: "dua" %>
        <div class="invalid-feedback">
          Please enter your dua.
        </div>
      </div>

    <hr class="my-4">
    <button class="w-100 btn btn-primary btn-lg" type="submit">Donasi</button>
  <% end %>
</div>